# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# bin folder
bin

# eclipse's files
.settings
.classpath
.project


# results file
/scripts/sample_app1/output